.detail-page .ionp-item-property .input-wrapper {
  overflow: visible;
}

.detail-page .ionp-item-property ion-thumbnail img {
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 120px;
}
