<ion-header class='list-page'>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{model.title}}
      <span class="sub-title">{{model.subTitle}}</span>
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top *ngIf="model.segments&&model.segments.length>0">
    <ion-segment [(ngModel)]="model.segmentId" (ionChange)="segmentChanged($event)">
      <ng-container *ngFor="let segment of model.segments">
        <ion-segment-button value="{{segment.value}}">
          {{segment.text|translate}}
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ionp-list [list]="model.list" *ngIf="model.list" (onItemSelected)="onItemSelected($event); " (onInputClick)="onInputClick($event); "
    (onInputChanged)="onInputChanged($event); ">
  </ionp-list> -->

  <div ionp-list [list]="model.list" *ngIf="model.list" (onItemSelected)="onItemSelected($event); " (onInputClick)="onInputClick($event); "
    (onInputChanged)="onInputChanged($event); ">
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
