// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// huangqing:在安卓和windows设备中显示和ios列表中一样的箭头效果
// --------------------------------------------------
// Add the forward arrow as an option for md & wp mode
// https://github.com/driftyco/ionic/issues/5993
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$item-md-detail-push-show:true;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$item-wp-detail-push-show:true;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// ionic2-custom-icons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// https://www.npmjs.com/package/ionic2-custom-icons
// https://stackoverflow.com/questions/38462885/add-custom-icon-in-ionic-2
