<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'APP_PAGES' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.iconName}}" [style.color]="p.color" item-left *ngIf="!p.iconSet"></ion-icon>
        <custom-icon item-left *ngIf="p.iconSet" set="{{p.iconSet}}" name="{{p.iconName}}" [style.color]="p.color"></custom-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
