<ion-list [attrs]="{'no-lines':list.nolines,'inset':list.inset}" *ngIf='list'>
  <ion-item-group *ngFor="let group of list.groups">
    <!--dividers-->
    <ion-item-divider color="light" *ngIf="group.style==='dividers'">
      {{group?.text}}
    </ion-item-divider>
    <!--header-->
    <ion-list-header color="light" *ngIf="group.style==='header'">
      {{group?.text}}
    </ion-list-header>
    <!--sliding-->
    <ng-container *ngIf="group.type==='sliding'">
      <ion-item-sliding *ngFor="let item of group.items">
        <!--item-->
        <button ion-item (click)="itemSelected(item)" [attrs]="{'detail-none':!item.arrow}">
            <div ionp-list-item [item]="item"></div >
        </button>
        <!--sliding options-->
        <ion-item-options side="right" *ngIf="item?.sliding?.length>0">
          <button ion-button [color]="option.color" [color]="option.color" [style.background-color]="option.color" *ngFor="let option of item.sliding">
                <ion-icon [name]="option.iconName" *ngIf="!option.iconSet"> </ion-icon>
                <custom-icon set="{{option.iconSet}}" name="{{option.iconName}}" *ngIf="option.iconSet"></custom-icon>
                {{option.text}}
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
    <!--item text-->
    <ng-container *ngIf="group.type==='text'">
      <ion-item ion-item *ngFor="let item of group.items">
        <div ionp-list-item [item]="item"></div>
      </ion-item>
    </ng-container>
    <!--item button-->
    <ng-container *ngIf="group.type==='button'">
      <button ion-item (click)="itemSelected(item)" *ngFor="let item of group.items" [attrs]="{'detail-none':!item.arrow}">
          <div ionp-list-item [item]="item"></div>
      </button>
    </ng-container>
  </ion-item-group>
</ion-list>
