ion-item-group {
  ion-item-sliding:last-child {
    >.item .item-inner {
      border: 0;
    }
  }
  button[list-item-text].activated {
    background-color: inherit !important;
  }
  ion-input {
    margin: 0 !important;
  }
  .text-input {
    margin-right: 0 !important;
    padding-right: 20px !important;
  }
  .text-input-clear-icon {
    right: 0 !important;
    width: 22px !important;
  }
}
