<ion-card>
  <ion-card-header text-center>
    <span (click)="TitleClick();"> {{chart.title}}</span>
    <!--<ion-icon name="arrow-forward" ></ion-icon>-->
  </ion-card-header>
  <ion-card-content>
    <canvas #canvas></canvas>
  </ion-card-content>
  <!--<ion-list>
    <button ion-item (click)="itemSelected(item)">
      <ion-icon name="football" item-start large></ion-icon>
      <h2>Museum of Football</h2>
      <p>11 N. Way St, Madison, WI 53703</p>
      <ion-badge color="secondary" item-end>10</ion-badge>
    </button>

    <button ion-item (click)="itemSelected(item)">
      <ion-icon name="football" item-start large></ion-icon>
      <h2>Museum of Football</h2>
      <p>11 N. Way St, Madison, WI 53703</p>
      <ion-badge color="secondary" item-end>10</ion-badge>
    </button>

    <button ion-item (click)="itemSelected(item)">
      <ion-icon name="football" item-start large></ion-icon>
      <h2>Museum of Football</h2>
      <p>11 N. Way St, Madison, WI 53703</p>
      <ion-badge color="secondary" item-end>10</ion-badge>
    </button>
  </ion-list>-->
</ion-card>
