<ion-content class="slides-page">
  <ion-slides pager *ngIf="slides&&slides.length>0">
    <ion-slide *ngFor="let slide of slides">
      <!--<ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary">Skip</button>
        </ion-buttons>
      </ion-toolbar>-->
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title | translate"></h2>
      <p [innerHTML]="slide.description | translate"></p>
    </ion-slide>
    <ion-slide>
      <!--<ion-toolbar>
      </ion-toolbar>-->
      <img [src]="lastSlide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="lastSlide.title | translate"></h2>
      <button ion-button large clear icon-end color="primary" (click)="slideSelected();">
        {{lastSlide.description | translate}}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>


<!--<img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title">
        {{slide.title | translate}}
      </h2>
      <p [innerHTML]="slide.description">
        {{slide.title | translate}}
      </p>-->
